body {
    margin: 0;
    padding: 0;
}
nav {
    height: 48px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    box-shadow: 0 0 32px rgba(0,0,0,.15);
}

ul {
    padding: 0;
    margin: 0;
}

.logo-container {
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    height: 100%;
    padding: 16px 20px;
    box-sizing: border-box;

}

.logo-container img {
    width: 66px;
    height: 16px;
}

.header-icon-cont {
    font-size: 0;
    display: flex;
    justify-content: right;
    text-align: end;
}

.header-icon-cont button {
    height: 48px;
    width: 48px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-left: 1px solid rgb(231, 230, 230);
}

.fa-search {color: gray;}

.fa-bars {color: #f42;}
/*
.left-float {float: left;}

.right-float {float: right;}

.clear {clear: both;}
*/
.hidden {display: none;}

/* STAGE 2 */
@media only screen and (min-width:768px){
    .hidden{
        display: flex;
        flex-direction: row;
    }

    .hidden ul{
        display: inherit;
    }

    .hidden ul li{
        display: inherit;
    }

    .nav-containers{
        display: flex;
        flex-direction: column;
    }

    nav {
        height: 80px;
    }

    .top1-nav-container {
        width: 662px;
        height: 32px;
        padding: 0;
        background-color: black;
        color: #fff;
    }

    .top1-nav-container a {color: #fff;}

    .logo-container {
        padding: 32px 20px;
    }

    .fa-bars {display: hidden;}
}